 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success - E-Com</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h2 style="color: #34a853;">Order Placed!</h2>
        <p>Successfully ordered: <strong>{{ product_name }}</strong></p>
        <p>Your order has been recorded in the PostgreSQL database. Wait for it</p>
        <a href="/products"><button>Back to Shop</button></a>
    </div>
</body>
</html>